pandas
numpy
scikit-learn
matplotlib
seaborn
spacy
spacy-langdetect
nltk
tensorflow
keras
joblib
ipykernel
opencv-python
scikit-image
pyYAML
python-box
imbalanced-learn # see main_pipeine.py 1.4 Balancing Textual Data @Johann

